# 1:Adding two number

In [8]:
num1 = 1.5
num2 = 6.3
sum = num1+num2
print("the sum of two number is :", sum)
print("the sum of {0} and {1} is {2}".format(num1,num2,sum))
print(float(num1+num2))
print(sum)

the sum of two number is : 7.8
the sum of 1.5 and 6.3 is 7.8
7.8
7.8

## 2:byuser

a= input("Enter your first number")
b= input("Enter your second numeber")
sum= a+b
print(sum)

In [14]:

a= int(input("Enter your first number") )
b= int(input("Enter your second numeber"))
sum= a+b
# sum= int(a)+int(b) 
print(sum)

Enter your first number 2
Enter your second numeber 3

5

# 3:square root

In [18]:
num = int (input("Enter your number"))
# num = 64
num_sqrt= num**0.5
print(num_sqrt)

Enter your number 49

7.0

# 4:squareroot complex numer

In [21]:
import cmath
num = eval(input("Enter your number"))
# num= 1+4j
num_sqrt = cmath.sqrt(num)
print(num_sqrt)

Enter your number 9+2j

(3.0182399223134073+0.3313189228620117j)

#  5: c to f

In [23]:
c = eval(input("Enter value"))
# c = 37.5
f = (c*1.8)+32
print(f)

Enter value 37.5

99.5

# 6: Area f triangle

In [28]:
height = int(input("Enter your height"))
base = int(input("Enter your base"))
# h= 3
# b = 3
area = 0.5 *b *h
print(area)
a = int(input("Enter a "))
b = int(input("Enter b "))
c = int(input("Enter c "))
# a= 3
# b= 3
# c= 3
s = (a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))**0.5
print(area)

Enter your height 3
Enter your base 4

4.5

Enter a  2
Enter b  3
Enter c  4

2.9047375096555625

# 7: solve the quardic equation

In [32]:
import math
a = 1
b= 5
c= 6

d = (b**2)-(4*a*c)

s1= (-b-math.sqrt(d))/(2*a)
s2 = (-b+math.sqrt(d))/(2*a)

print(s1,s2)

-3.0 -2.0

# 8:kilometer

In [35]:
kilometer = float( input("Enter the value:"))
cv = 0.621371
miles = kilometer * cv 
print(miles)

Enter the vslue: 2

1.242742

# 9:

In [48]:
i = int(input("number:"))
# i= 10
if (i > 15 ):
 print(i,  "greater than 15" )
else:
 print("not correct")

number: 23

23 greater than 15

# 10:

In [50]:
i = 3
if (i <15):
   print(i, " is smaller then 15")
else:
  print (i, " is greater them 15")

3  is smaller then 15

# 11:

In [56]:
i=10
if(i==10):
    if(i<15):
        print(i,"is less than 15")
    if(i<12):
        print(i,"is less than 12")
    else:
        print(i,"grester than 15")
# nested if statement

10 is less than 15

# 12

In [57]:
i=20
if(i==10):
    print("i is 10")
elif(i==15):
    print("i is 15")
elif(i==20):
    print("i is 20")
else:
    print("i is not present")

i is 20

# 13 : for loop

In [94]:
# # 1 :
# s=["apple","for","apple"]
# for i in s:
#     print(i)
# # 2:
# a="apple"
# for i in a:
#     print(i)
# # 3 range(start,stop.step):
# for i in range(0,20,3):
#  print(i)
# # 4 continue jo lafz dy gy wo khatam ke dena hai:
# for i in"appleforapple":  
#     if i=="a" or i=="l":
#       continue
#     print(i)
# # 5 break main lafz jo dy waha per loop break ker ddeni hai:
# for i in"appleforapple": 
#     if i=="f" :
#         break
#     print(i)
# 6 pass statement:
# for i in "apple for apple":
#     pass
# print(i)
# 7 ELSE STATEMENT:
# for i in range (1,4):
#     print(i)
# else:
#     print("no break")
# 8 : enumarate function used for the value and index both
# list = [ "apple", "banana", " orange " ]
# for a , b in enumerate(list):
#    print(a,b)
# 9 : nested for loop 
for i in range (1,4):
  for j in range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

# 14:while loop

In [ ]:
# #1:
# count = 1
# while count < 6 :
#      count = count+1
#      print(count)
# # 2
# i = 1
# while i < 6 :
#     print(i)
#     i +=1
#  break while loop 
# i = 1
# while i < 6:
#     print(i)
#     if i == 3 :
#        break
#     i+=1
# i = 0
# a = 'geeksforgeeks'
# while i < len(a):
#     if a[i] == 'e' or a[i] == 's':
#         i += 1
#         break
        
#     print(a[i])
#     i += 1
# CONTINOUS
# i = 0
# while i < 6:
#   i += 1
#   if i == 3:
#     continue
#   print(i)
# else statement
# i = 1
# while i< 6 :
#     print(i)
#     i+=1
# else :
#    print(i," is no longer less then 6")
# i = 0
# while i < 4:
#     i += 1
#     print(i)
# else:  # Executed because no break in for
#     print("No Break\n")

# i = 0
# while i < 4:
#     i += 1
#     print(i)
#     break
# else:  # Not executed as there is a break
#     print("No Break")
# continue
# i=0
# a="apple for apple"
# while i< len(a):
#     i+=1
# i = 0
# a = 'geeksforgeeksllll'

# while i < len(a):
#     if a[i] == 'e' or a[i] == 's':
#         i += 1
#         continue
        
#     print(a[i])
#     i += 1